.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?

# Pow and Powder config
/.pow*

# RVM and rbenv
/.rvmrc
/.rbenv-version

# Bundler binstubs
/bin/
